<div class="row">
	<div class="col-xs-6">
		<div class="zoid-image">
			<!-- <img src="assets/whynot.png" alt="need image to hover over?"> -->
		</div>
	</div>

	<div class="col-xs-5 content text-center">
		<h2> Why Not Ipsum?</h2>
				<button type="button" class="button btn btn-primary" id="fewerP">
					Less
				</button>
				<button type='button' id='copy' name='copy' class="button btn btn-primary">
					Copy to Clipboard
				</button>
				<button type="button" class="button btn btn-primary" id="moreP">
					More
				</button>
		<div id="ipsum" class="text-justify">
			<%var numSents =  model.attributes.size%>
			<%var numParagraphs =  model.attributes.paragraphs%>
			<%for(var i = 0; i < collection.length; i++){%>
				<% if( i % 8 === 0 && numParagraphs > 1 && i > 9) {%>
					<% numParagraphs = numParagraphs - 1%> 
					<br><br>
				<%} else {%>
					<%= collection[i].attributes.content%>
				<%}%>
			<%}%>
		</div>
	</div>
</div>