/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bootstrap";

.content {
//	background-color: white;
	max-width: 50%;
	margin-top: 2%;
	margin-bottom: 10%;
	margin-right: 1%;
  position: relative;
  border: 5px solid #000000;
	box-shadow:
	  0 0 0 10px hsl(0, 0%, 80%),
	  0 0 0 15px hsl(0, 0%, 90%);
	outline: 5px solid #FF6666;
}

div#ipsum {
	height: 440px;
	overflow-y: scroll;
	border: 5px solid gray;
	outline: 5px solid black;
	margin-bottom: 2%;
	margin-top: 2%;
	
}

.zoid-image {
	min-height: 400px;
//	width: 50%;

	background-image: url('whynot.png');
	background-size: cover;
	background-position: center; // or center center
	background-repeat: no-repeat;
}

button.btn {
	background-color: #FF6666;
	border: none;
}

button#copy{
	opacity: 0;
}